body{
	margin:0;
	padding: 0;
	font-family: serif;
	background:url(tshirt.jpeg)  no-repeat ;
	background-size: cover;
	height: auto;
	width: 100%;
	background-attachment: fixed;
	wekit-background-attachment: fixed;
    -o-background-attachment: fixed;
    -moz-background-attachment: fixed;
}

#main{
	width:100%;
	height: 100vh;
	background-size:cover;
}

nav{
	display: flex;
	width: 100%;
	height: 65px;
	background-color:#000;
	background:rgba(0,0,0,.8);
	line-height: 65px;
	position: sticky;
	min-height: 8vh;
}

.nav-links{
	display: flex;
	justify-content: space-around;
	float:right;
	margin-right: 30px;
	margin:0 0 5px auto;		

}
.nav-links li{
	list-style-type: none;
	display: inline-block;
	float: right;
	position: relative;
}
.nav-links li.sub-menu:before
{
	content: '\f0d7';
	font-family: fontAwesome;
	position: absolute;
	line-height: 65px;
	color: #fff;
	right: 9px;
}
.nav-links li.active.sub-menu:before
{
		content: '\f0d8';
}
.nav-links li ul{
	position: absolute;
	left: 0;
	background-color:#000;
    background:rgba(0,0,0,.9);
	display: none;
}
.nav-links li.active  ul{
	display: block;
}
.nav-links li ul li{
	display: block;
	width: 150px;
	margin-right: 20px;
	

}
.nav-links li:hover{
	     background: linear-gradient(to bottom, #0099ff -5%, #00ffff 107%);

}

.nav-links  a{
	text-decoration:none;
	color:#fff;
	padding:0 30px;

}
.nav-links  a:hover{
	color:black;
}

nav .lines{
	display: none;
	cursor: pointer;
	color: #fff;
	float: right;
	

}


@media screen and (max-width: 1024px) {
    .nav-links { width:80%; }
 
}
/* Tabled Portrait */
@media screen and (max-width: 768px) {
	body
	{
		overflow-x: hidden;
		position: relative;
	}
	.nav-links li
   {
   	opacity: 1;
   	padding: 0px;
   	width: 100%;
   	text-align: center;
  
   }
   .nav-links li:hover{
   		background: linear-gradient(to bottom, #0099ff -5%, #00ffff 107%);

   }
   nav .lines
   {
   	display: block;
   	margin:  auto;
   	float: right;
   	margin-right: 30px;
   }

    .nav-links li a
    {
	text-decoration:none;
	color:#fff;
	padding: 30px;
    }
    .nav-links li.active  ul
    {	
    	position: relative;
    	background: #fff;

    }
    .nav-link li.active ul
    {
    	width: 100%;
    }
    .nav-links 
    { 
    	position: absolute;
    	right:0px;
    	height: 50vh;
    	top :9.5vh;
    	background-color:#000;
    	background:rgba(0,0,0,.9);
    	display: flex;
    	flex-direction: column;
    	align-items: center; 
    	width:100%;
    	transform: translateX(100%);
    	transition:transform 0.8s ease-in;
    	overflow: hidden;
    	padding: 20px;
    	z-index: 1;
   		
    }
   
	
.nav-active{
	transform: translateX(0%);
}	


}


@keyframes navLinkFade{
	from{
		opacity: 0;
		transform:translateX(50px);
	}
	to{
		opacity: 1;
		transform:translateX(0px);
	}
}




.box{

	position: absolute;
	top: 350px;
	left: 50%;
	transform: translate(-50%,-50%);
	width: 400px;
	padding: 70px;
	background:rgba(0,0,0,.5);
	box-sizing: border-box;
	box-shadow: 0 15px 25px rgba(0,0,0,.5);
	border-radius: 10px;
	

}
.box h2
{	
	display: flex;
	margin: 0 0 30px;
	padding: 0;
	color: #fff;
	text-align: center;
}

.userimage{
	display: flex;
	width:100px;
	height: 100px;
	border-radius: 50%;
	overflow: hidden;
	position: absolute;
	top:-50px;
	
	left:calc(50% - 50px);
	
}
.userimage img{
	max-width: 100%;
}
::-ms-input-placeholder {
	color: #fff;
	}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #fff;
  opacity: 1; /* Firefox */
}
.box .inputbox 
{
	position: relative;
}
.box .inputbox input
{
	width: 100%;
	padding: 10px 0;
	font-size: 16px;
	color: #fff;
	letter-spacing: 1px;
	margin-bottom: 30px;
	border:none;
	border-bottom: 1px solid #fff;
	outline: none;
	background:transparent;
	border-radius: 10px;
}
.box .inputbox label
{
	position: absolute;
	top: 0;
	left: 0;
	padding: 10px 0;
	font-size: 16px;
	color: #fff;
	letter-spacing: 1px;
	pointer-events: none;
	transition: 0.7s;
}
.box .inputbox input:focus ~ label,
.box .inputbox input:valid ~ label
{
	top: -18px;
	left:0;
	color:#33ccff;
	font-size: 14px;

} 
button
{
	 background: transparent;
	 border:none;
	 outline: none;
	 color: #fff;
	 background: #03a9f4;
	 padding: 10px 20px;
	 cursor: pointer;
	 border-radius: 21px;
}

button:hover {
    color: black;
    }

.box a{
	color: #fff;
	font-size: 13px;
	text-decoration: none;
	line-height: 20px;
	position: absolute;
	margin-top: 55px;
	margin-left: -85px;
	

}
.box a:hover{
	color:red;
}
.login_link{
	color:#fff;
	font-size: 13px;
	line-height: 10px;
	position: absolute;
	margin-top: 50px;

}
.box .login_link a{
	color:#fff;
	font-size: 15px;
	line-height: 10px;
	position: absolute;
	margin-top: 0px;
	margin-left: 0px;
	width: 92%;
}
.box .login_link a:hover{
	color:red;
}
